/* default.qss */

QFrame.module-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #f5f5f5;
    color: #000;
}

QFrame.module-card[special="true"] {
    border: 1px solid #999;
}

QLabel#module-title {
    font-weight: bold;
    font-size: 14px;
}

QLabel#module-description {
    color: #444;
    font-size: 12px;
    padding-top: 5px;
}
