/* Style pour la barre latérale */
#Sidebar {
    background-color: #2b2b2b;
    border-right: 1px solid #666;
}

/* Style pour les boutons de la sidebar */
#Sidebar QPushButton {
    border: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#Sidebar QPushButton:hover {
    background-color: #3c3c3c;
}

#cardStyle{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    color: white;
}